<tr>
    <td style="border:1px solid;">{{ line_key }}</td>
    {% include 'engine/board_cell.html' with game=game game_data=game_data cell=line.a l_key=line_key c_key='a' bgcolor=even %}
    {% include 'engine/board_cell.html' with game=game game_data=game_data cell=line.b l_key=line_key c_key='b' bgcolor=odd %}
    {% include 'engine/board_cell.html' with game=game game_data=game_data cell=line.c l_key=line_key c_key='c' bgcolor=even %}
    {% include 'engine/board_cell.html' with game=game game_data=game_data cell=line.d l_key=line_key c_key='d' bgcolor=odd %}
    {% include 'engine/board_cell.html' with game=game game_data=game_data cell=line.e l_key=line_key c_key='e' bgcolor=even %}
    {% include 'engine/board_cell.html' with game=game game_data=game_data cell=line.f l_key=line_key c_key='f' bgcolor=odd %}
    {% include 'engine/board_cell.html' with game=game game_data=game_data cell=line.g l_key=line_key c_key='g' bgcolor=even %}
    {% include 'engine/board_cell.html' with game=game game_data=game_data cell=line.h l_key=line_key c_key='h' bgcolor=odd %}
</tr>
